<!--
  Generated template for the Captura page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="mapa-header">

  <ion-navbar color="mapa-header" *ngIf="isBrowser">
    <ion-title>Domicilio</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-item>
        <ion-label floating>Código Postal:</ion-label>
        <ion-input type="text" value="{{codigoPostal}}" (blur)="blurCodigoPostal()"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Calle:</ion-label>
        <ion-input type="text" value="{{nombreCalle}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Exterior:</ion-label>
        <ion-input type="text" value="{{numeroCalle}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Número Interior:</ion-label>
        <ion-input type="text" value="{{numeroInterior}}"></ion-input>
      </ion-item>

       <ion-item>

        <ion-label stacked>Colonia</ion-label>
        <ion-select [(ngModel)]="codigoAsentamiento">
          <ion-option *ngFor="let asentamiento of asentamientos" value="{{asentamiento.idAsentamientoCP}}">{{asentamiento.asentamiento}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>

        <ion-label stacked>Delegación o Municipio</ion-label>
        <ion-select [(ngModel)]="codigoMunicipio" (ionChange)="changeMunicipio()">
            <ion-option *ngFor="let municipio of municipiosCiudades" value="{{municipio.codigoMunicipio}}">{{municipio.municipio}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>

      <ion-label stacked>Ciudad</ion-label>
        <ion-select [(ngModel)]="codigoCiudad">
          <ion-option *ngFor="let ciudad of ciudades" value="{{ciudad.ciudad}}">{{ciudad.ciudad}}</ion-option>
        </ion-select>
      </ion-item>

     <ion-item>

        <ion-label stacked>Estado</ion-label>
        <ion-select [(ngModel)]="codigoEstado">
          <ion-option *ngFor="let estado of estados" value="{{estado.codigoEstado}}" >{{estado.descripcion}}</ion-option>
        </ion-select>
      </ion-item>

</ion-content>

<ion-footer>
  <ion-fab right bottom>
        <button color="allianz-naranja" ion-fab >
                <ion-icon name="md-arrow-forward"></ion-icon>
            </button>
    </ion-fab>
</ion-footer>
