<ion-tabs tabsPlacement="top" selectedIndex="0" color="mapa-header">
  <ion-tab [root]="mapaRoot" tabTitle="Mapa" tabIcon="map"></ion-tab>
  <ion-tab [root]="capturaRoot" tabTitle="Captura" tabIcon="list" (ionSelect)="capturaPageSelected()" ></ion-tab>
</ion-tabs>
