<!--
  Generated template for the Mapa page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="mapa-header">

  <ion-navbar color="mapa-header" *ngIf="isBrowser">
    <ion-title>Domicilio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


 <!--  <ion-item>
    <ion-label ><ion-icon name="search"></ion-icon></ion-label>
    <input type="text" id="autocomplete" placeholder="Ingrese su domicilio" [(ngModel)]="autocompleteInputValue" clearInput (blur)="blurAutocompleteInput(autocompleteInputValue)" >
  </ion-item>
  -->


<div class="cuadroMap">
    
     
  <!--<input id="journey_from" name="journey_from" type="text" placeholder="">-->
<input  style="width: 80% ;margin-left: 0px; padding-left:30px;" type="text" id="autocomplete" placeholder="Ingrese su domicilio"  [(ngModel)]="autocompleteInputValue" clearInput data-tap-disabled="true" (blur)="blurAutocompleteInput(autocompleteInputValue)" class="controls">
</div>
  <div #map id="map"></div> 

</ion-content>

